#webstudio {background: #2F303A;
}
h1 {color : #FFFFFF;
}
button {color: #ffffff;background: #188CE8;
}
#contacts {background: #2F303A;
}
.list {color: #FFFFFF;
}
.list a {color: #FFFFFF99; text-decoration: none;
}