body {
    margin: 0;
    padding: 0;
}

:root {
    --color-one: #212121;
    --color-two: #FFFFFF;
    --color-three: #2196F3;
    --color-four: #757575;
    --color-five: #F5F4FA;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
menu,
p {
    margin: 0;
    padding: 0;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_navigation {
    display: flex;
    justify-content: space-between;
}

.header_navigation-logo-and-list {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    gap: 93px;
}

.header_navigation_contacts {
    align-items: center;
    display: flex;
    gap: 50px;
}

.header_box {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header_navigation_list {
    display: flex;
    gap: 50px;
}

.header_link {
    color: var(--color-one);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transition: all 500ms ease-in-out;
}
.header_link {
    color: var(--color-one);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transition: all 500ms ease-in-out;
}

.header_link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 0;
    height: 2px;
    background-color: var(--color-three); 
    transition: width 0.5s linear; 
}

.header_link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 2px; 
    background-color: var(--color-three);
}

.header_main-link {
    color: var(--color-three);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
}

.header_main-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 2px;
    background-color: var(--color-three);
    transition: all 200ms linear;

}

.header_link-contact {
    color: var(--color-four);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    fill: var(--color-four);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 150ms linear;
}

.header_link-contact:hover {
    color: var(--color-three);
    fill: var(--color-three);
    transform: scale(1.1);
}

header a:hover {
    color: var(--color-three);
}

header {
    border-bottom-style: solid;
    border-color: #ECECEC;
}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio_box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.portfolio_box-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.portfolio_box-button {
    border-radius: 4px;
    background: var(--color-five);
    border: none;
    color: var(--color-one);
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    padding: 6px 20px;
    transition: all 250ms ease-out;
}

.portfolio_box-button:hover {
    border-radius: 4px;
    background: var(--color-three);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: var(--color-two);
    transform: scale(0.9);
    cursor: pointer;
}

.portfolio_box-cards-box {
    border: 1px solid #EEE;
    background: var(--color-two);
    width: 370px;
    height: 404px;
    flex-shrink: 0;
}

.portfolio_box-cards-box:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio_title {
    color: var(--color-one);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;

}

.portfolio_text {
    color: var(--color-four);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}

.portfolio_box-cards-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 25px;
}

.portfolio_box-cards-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio_box-cards {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
}


.portfolio_box-cards-item {
    display: flex;
    gap: 30px;
}

.img-overflow {
    position: relative;
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    margin: 0 auto;
    overflow: hidden;
}

.overflow-text {
    background: rgba(33, 150, 243, 0.90);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 500ms;
}

.portfolio_box-cards-box:hover .overflow-text {
    transform: translatey(0);
}

.text {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    width: 322px;
    padding: 63px 24px;
}

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contacts_box-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts_box {
    display: flex;
    gap: 70px;
}



.contacts_box_list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.inst_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.inst-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.inst_box-two:hover {
    background-image: url("../images/svg/ellipse-blue.svg");
}

.twt_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.twt_box-two:hover {
    background-image: url("../images/svg/ellipse-blue.svg");
}

.twt-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.fb_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.fb_box-two:hover {
    background-image: url("../images/svg/ellipse-blue.svg");
}

.fb-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.in_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.in_box-two:hover {
    background-image: url("../images/svg/ellipse-blue.svg");
}

.in-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.contacts_box-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts_links {
    display: flex;
    gap: 10px;
}

address {
    color: var(--color-two);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    font-family: 'Roboto', sans-serif;
}

.contacts_link {
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.contacts_box-links-title {
    color: var(--color-two);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.contacts a{
    transition: all 250ms linear;
}

.contacts a:hover {
    color: #2196F3;
}

.contacts_box-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts_box-form-title {
    color: var(--color-two);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.contacts_box-form-input {
    width: 358px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
}

.contacts_box-form-input:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: 1px solid var(--color-three);
}

.contacts_box-form-input::placeholder {
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    padding-left: 10px;
}

.contacts_box-form-btn {
    border-radius: 4px;
    background: var(--color-three);
    color: var(--color-two);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    background-image: url("../images/svg/icon-send.svg");
    background-repeat: no-repeat;
    background-position: 160px 10px;
    transition: all 300ms linear;

}

.contacts_box-form-btn:hover {
    box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.16);
}