body {
    margin: 0;
    padding: 0;
}

:root {
    --color-one: #212121;
    --color-two: #FFFFFF;
    --color-three: #2196F3;
    --color-four: #757575;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
menu,
p {
    margin: 0;
    padding: 0;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_navigation {
    display: flex;
    justify-content: space-between;
}

.header_navigation-logo-and-list {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    gap: 93px;
}

.header_navigation_contacts {
    align-items: center;
    display: flex;
    gap: 50px;
}

.header_box {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header_navigation_contacts-item {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
}

.header_navigation_contacts-item:hover,
.header_navigation-item:hover,
.header_link-contact:hover {
    color: #2196F3;
    fill: #2196F3;
}

.header_navigation_list {
    display: flex;
    gap: 50px;
}

.header_link {
    color: var(--color-one);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}


.header_link-contact {
    color: #757575;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

header a:hover {
    color: var(--color-three);
}

.webstudio {
    background-image: url("../images/img/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.webstudio_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.webstudio_title {
    color: var(--color-two);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 71px;
    line-height: 78px;
    text-transform: uppercase;
}

.webstudio_button {
    color: var(--color-two);
    background: var(--color-three);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.webstudio_button:hover {
    box-shadow: 0px 0px 60px 0px rgb(13, 122, 211);
}

.studio {
    padding-top: 94px;
    padding-bottom: 118px;
}

.studio_box {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: baseline;
}

.studio_box-items {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.studio_title {
    color: var(--color-one);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.studio_box-img {
    background-color: #F5F4FA;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
}

.studio_box-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.studio_text {
    color: var(--color-four);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}


.about_title {
    color: var(--color-one);
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}


.about {
    padding-top: 94px;
    padding-bottom: 94px;
}


.about_box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about_box_img {
    display: flex;
    gap: 30px;
}


.about_img-box-one {
    background: rgba(47, 48, 58, 0.80);
    width: 370px;
    height: 70px;
    flex-shrink: 0;
    position: absolute;
    top: 1582px;
    left: 75px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img-box-two {
    background: rgba(47, 48, 58, 0.80);
    width: 370px;
    height: 70px;
    flex-shrink: 0;
    position: absolute;
    top: 1582px;
    left: 475px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img-box-three {
    background: rgba(47, 48, 58, 0.80);
    width: 370px;
    height: 70px;
    flex-shrink: 0;
    position: absolute;
    top: 1582px;
    left: 875px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about_text {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}


.portfolio {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio_main-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.portfolio_images_and_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio_box {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    width: 270px;
    height: 428px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.portfolio_title-one {
    color: var(--color-one);
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.portfolio_box-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio_title {
    color: var(--color-one);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.portfolio_text {
    color: var(--color-four);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.inst_box {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.inst_box:hover,
.inst:hover {
    background-image: url(../images/svg/Ellipse.svg);
    fill: var(--color-two);
}

.inst {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.twt_box {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.twt_box:hover,
.twt:hover {
    background-image: url(../images/svg/Ellipse.svg);
    fill: var(--color-two);
}

.twt {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.fb_box {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.fb_box:hover,
.fb:hover {
    background-image: url(../images/svg/Ellipse.svg);
    fill: var(--color-two);
}

.fb {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.in_box {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.in_box:hover,
.in:hover {
    background-image: url(../images/svg/Ellipse.svg);
    fill: var(--color-two);
}

.in {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.portfolio_svg-links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers_title {
    color: var(--color-one);
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.customers_box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.customers-svg {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.customers-svg-box {
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    width: 170px;
    height: 92px;
    flex-shrink: 0;
}

.customers-svg-box:hover {
    border-radius: 4px;
    border: 1px solid #2196F3;
    fill: #2196F3;
}

.customers-svg-item:hover {
    fill: #2196F3;
}

.customers-svg-item {
    padding: 16px 32px;
}

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contacts_box-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts_box {
    display: flex;
    gap: 70px;
}



.contacts_box_list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.inst_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.inst-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.inst_box-two:hover {
    background-image: url("../images/svg/Ellipse.svg");
}

.twt_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.twt_box-two:hover {
    background-image: url("../images/svg/Ellipse.svg");
}

.twt-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.fb_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.fb_box-two:hover {
    background-image: url("../images/svg/Ellipse.svg");
}

.fb-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.in_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.in_box-two:hover {
    background-image: url("../images/svg/Ellipse.svg");
}

.in-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.contacts_box-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts_links {
    display: flex;
    gap: 10px;
}

address {
    color: var(--color-two);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    font-family: 'Roboto', sans-serif;
}

.contacts_link {
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.contacts_box-links-title {
    color: var(--color-two);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}


.contacts a:hover {
    color: #2196F3;
}