body {
    margin: 0;
    padding: 0;
}

:root {
    --color-one: #212121;
    --color-two: #FFFFFF;
    --color-three: #2196F3;
    --color-four: #757575;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
menu,
p {
    margin: 0;
    padding: 0;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_navigation {
    display: flex;
    justify-content: space-between;
}

.header_navigation-logo-and-list {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    gap: 93px;
}

.header_navigation_contacts {
    align-items: center;
    display: flex;
    gap: 50px;
}

.header_box {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header_navigation_contacts-item {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
}


.header_navigation_list {
    display: flex;
    gap: 50px;
}

.header_link {
    color: var(--color-one);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transition: all 500ms ease-in-out;
}

.header_link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 0;
    height: 2px;
    background-color: var(--color-three);
    transition: width 0.5s linear;
}

.header_link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 2px;
    background-color: var(--color-three);

}

.header_main-link {
    color: var(--color-three);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
}

.header_main-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 2px;
    background-color: var(--color-three);
    transition: all 200ms linear;

}

.header_link-contact {
    color: var(--color-four);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    fill: var(--color-four);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 150ms linear;
}

.header_link-contact:hover {
    color: var(--color-three);
    fill: var(--color-three);
    transform: scale(1.1);
    animation: btn-animation 2000ms ease infinite;
}

header a:hover {
    color: var(--color-three);
}

.webstudio {
    background-image: url("../images/img/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.webstudio_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.webstudio_title {
    color: var(--color-two);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 71px;
    line-height: 78px;
    text-transform: uppercase;
}

.webstudio_button {
    color: var(--color-two);
    background: var(--color-three);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: all 500ms ease-out;
    animation: btn-animation 2000ms ease infinite;
}

.webstudio_button:hover {
    transform: scale(1.2);
    animation: none;
}

@keyframes btn-animation {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);

    }
}



.studio {
    padding-top: 94px;
    padding-bottom: 118px;
}

.studio_box {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: baseline;
}

.studio_box-items {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.studio_title {
    color: var(--color-one);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.studio_box-img {
    background-color: #F5F4FA;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
}

.studio_box-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.studio_text {
    color: var(--color-four);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}


.about_title {
    color: var(--color-one);
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}


.about {
    padding-top: 94px;
    padding-bottom: 94px;
}


.about_box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about_box_img {
    display: flex;
    gap: 30px;
}


.img-overflow {
    position: relative;
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    margin: 0 auto;
    overflow: hidden;
}

.about_img-box-one {
    background: rgba(47, 48, 58, 0.80);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 500ms;
}


.img-overflow:hover .about_img-box-one {
    transform: translatey(0);
}

.about_img-box-two {
    background: rgba(47, 48, 58, 0.80);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 500ms;
}

.img-overflow:hover .about_img-box-two {
    transform: translatey(0);
}

.about_img-box-three {
    background: rgba(47, 48, 58, 0.80);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 500ms;
}

.img-overflow:hover .about_img-box-three {
    transform: translatey(0);
}


.about_text {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding: 100px;
    margin: 0;
}


.portfolio {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio_main-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.portfolio_images_and_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio_box {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    width: 270px;
    height: 428px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 300ms linear;
}

.portfolio_box:hover {
    box-shadow: 10px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}


.portfolio_title-one {
    color: var(--color-one);
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.portfolio_box-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio_title {
    color: var(--color-one);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.portfolio_text {
    color: var(--color-four);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.portfolio_link {
    padding: 12px;
    border-radius: 50%;
    fill: #AFB1B8;
}

.portfolio_link:hover {
    background: #2196F3;
    fill: var(--color-two);
}

.portfolio_svg-links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers_title {
    color: var(--color-one);
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.customers_box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.customers-svg {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.customers-svg-box {
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    transition: all 900ms ease-out;
}

.customers-svg-box:hover {
    border-radius: 4px;
    border: 1px solid #2196F3;
    fill: #2196F3;
    transform: scale(0.9);
}

.customers-svg-item:hover {
    fill: #2196F3;
}

.customers-svg-item {
    padding: 16px 32px;
}

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contacts_box-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts_box {
    display: flex;
    gap: 70px;
}



.contacts_box_list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.inst_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.inst-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.inst_box-two:hover {
    background-image: url("../images/svg/Ellipse.svg");
}

.twt_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.twt_box-two:hover {
    background-image: url("../images/svg/Ellipse.svg");
}

.twt-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.fb_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.fb_box-two:hover {
    background-image: url("../images/svg/Ellipse.svg");
}

.fb-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.in_box-two {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-image: url("../images/svg/ellipse2.svg");
}

.in_box-two:hover {
    background-image: url("../images/svg/Ellipse.svg");
}

.in-two {
    margin-top: 12px;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.contacts_box-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts_links {
    display: flex;
    gap: 10px;
}

address {
    color: var(--color-two);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    font-family: 'Roboto', sans-serif;
}

.contacts_link {
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.contacts_box-links-title {
    color: var(--color-two);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.contacts a,
address {
    transition: all 250ms linear;
}

.contacts a:hover,
address:hover {
    color: #2196F3;
    transform: translateX(5px);
}

.contacts_box-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts_box-form-title {
    color: var(--color-two);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.contacts_box-form-input {
    width: 358px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
}

.contacts_box-form-input:focus {
    box-shadow: 0px 1px 17px 2px var(--color-three);
    outline: 1px solid var(--color-three);
}

.contacts_box-form-input::placeholder {
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    padding-left: 10px;
}

.contacts_box-form-btn {
    border-radius: 4px;
    background: var(--color-three);
    color: var(--color-two);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    width: 193px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    background-image: url(../images/svg/icon-send.svg);
    background-repeat: no-repeat;
    background-position: 160px 13px;
    transition: all 300ms linear;
}
.contacts_box-form-btn:hover {
    box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.16);
    transform: scale(0.9);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 590px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--color-two);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transform: translate(-50%, -50%);

}

.modal-title {
    color: var(--color-one);
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}

.modal-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

}

.close-btn {
    background: var(--color-two);
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    background-image: url("../images/svg/close-black-18dp.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.close-btn:hover {
    background-image: url("../images/svg/close-blue.svg");
    background-repeat: no-repeat;
    background-position: center;

}

.webstudio_form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.webstudio_form-box-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.webstudio_form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
}

.form-text {
    color: #757575;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.form-item-link {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.webstudio_form-btn {
    border-radius: 4px;
    background: var(--color-three);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--color-two);
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    transition: all 250ms linear;
}

.webstudio_form-btn:hover {
    border-radius: 4px;
    background: #188CE8;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.form-text-link {
    color: var(--color-four);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.form-link {
    color: var(--color-three);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.form-input-one {
    width: 406px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    font-size: 16px;
    padding-left: 42px;
    background-image: url("../images/svg/person-black.svg");
    background-position: 10px 12px;
    background-repeat: no-repeat;
}


.form-input-one:focus {
    outline: 1px solid var(--color-three);
    background-image: url("../images/svg/person-blue.svg");
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 18px 18px
}

.form-input-two {
    width: 406px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    font-size: 16px;
    padding-left: 42px;
    background-image: url("../images/svg/phone-black.svg");
    background-position: 10px 12px;
    background-repeat: no-repeat;
}

.form-input-two:focus {
    outline: 1px solid var(--color-three);
    background-image: url("../images/svg/phone-blue.svg");
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 18px 18px
}


.form-input-three {
    width: 406px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    font-size: 16px;
    padding-left: 42px;
    background-image: url("../images/svg/email-black.svg");
    background-position: 10px 12px;
    background-repeat: no-repeat;
}

.form-input-three:focus {
    outline: 1px solid var(--color-three);
    background-image: url("../images/svg/email-blue.svg");
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 18px 18px
}


.form-input-texarea {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    width: 448px;
    height: 120px;
    flex-shrink: 0;
    resize: none;
}


.form-input-texarea:focus {
    outline: 1px solid var(--color-three);
}

.form-input-texarea::placeholder {
    color: rgba(117, 117, 117, 0.50);
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    padding-top: 12px;
    padding-left: 16px;
}

.form-input-checkbox {
    width: 16px;
    height: 15px;
    flex-shrink: 0;
}